<div id="home">
  	<div class="container">
    	<div class="row">
		  <div class="form-group">
		    <label for="username">Username:</label>
		    <input type="text" id="username" class="form-control" aria-describedby="username" placeholder="Enter a Username">
		  </div>
		  <button id="submit" class="btn btn-primary float-right">Submit</button>
		</div>
	</div>
</div>


<script>
	$('#submit').click(function(){
		$.ajax({
	      data:{
	        username:$('#username').val(),
	      },
	      url: "api/user/",
	      type: "POST",
	    }).then(function(res){
	    	console.log(res)
	    }
	    );
	});
</script>