<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h3>Users:</h3> 
        <p><a href='/create'>Create New</a></p>
        <ul id="example-list" class="list-group">
          {{#each users}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="profile/{{this.id}}">{{this.username}}</a>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

