<div class='card content'>
	<div class="card-title"></div>
	<div class="card-body">
		<div class="message"></div>
		<p>
			Username:
			<input type="text" id="username"/>
		</p>
		<p>
			Password:
			<input type="password" id="password"/>
		</p>
		<p>
			<button id="submit">Submit</button>
		</p>

	</div>
	
</div>

<script>
	
	$('#submit').click(function(){
		$.post('/api/user/login', {
			username:$('#username').val(),
			password:$('#password').val(),
		}).then(function(res){
			if(res == -1){
				$('.message').text('Invalid Credentials');
			}else{
				$('.message').empty();
				window.location.replace("/");
			}
		})
	})
</script>

<style>
	.message{
		color:red;
	}
</style>