<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">User Profile</h5>
          <p>
            <strong>Username</strong>: {{user.username}}</p>
          <p>
          <p>
            <strong>Created</strong>: {{user.createdAt}}</p>
          <p>
        </div>
      </div>
    </div>
  </div>
</div>
